@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .normal {
        background-color: theme('colors.normal');
    }
    .text-normal {
        color: theme('colors.normal');
    }
    input + .normal {
        background-color: theme('colors.normal');
        color: theme('colors.white');
    }
    input:checked + .normal {
        background-color: theme('colors.normal-transparent-25');
        color: theme('colors.black');
    }
    .fighting {
        background-color: theme('colors.fighting');
    }
    .text-fighting {
        color: theme('colors.fighting');
    }
    input + .fighting {
        background-color: theme('colors.fighting');
        color: theme('colors.white');
    }
    input:checked + .fighting {
        background-color: theme('colors.fighting-transparent-25');
        color: theme('colors.black');
    }
    .flying {
        background-color: theme('colors.flying');
    }
    .text-flying {
        color: theme('colors.flying');
    }
    input + .flying {
        background-color: theme('colors.flying');
        color: theme('colors.white');
    }
    input:checked + .flying {
        background-color: theme('colors.flying-transparent-25');
        color: theme('colors.black');
    }
    .poison {
        background-color: theme('colors.poison');
    }
    .text-poison {
        color: theme('colors.poison');
    }
    input + .poison {
        background-color: theme('colors.poison');
        color: theme('colors.white');
    }
    input:checked + .poison {
        background-color: theme('colors.poison-transparent-25');
        color: theme('colors.black');
    }
    .ground {
        background-color: theme('colors.ground');
    }
    .text-ground {
        color: theme('colors.ground');
    }
    input + .ground {
        background-color: theme('colors.ground');
        color: theme('colors.white');
    }
    input:checked + .ground {
        background-color: theme('colors.ground-transparent-25');
        color: theme('colors.black');
    }
    .rock {
        background-color: theme('colors.rock');
    }
    .text-rock {
        color: theme('colors.rock');
    }
    input + .rock {
        background-color: theme('colors.rock');
        color: theme('colors.white');
    }
    input:checked + .rock {
        background-color: theme('colors.rock-transparent-25');
        color: theme('colors.black');
    }
    .bug {
        background-color: theme('colors.bug');
    }
    .text-bug {
        color: theme('colors.bug');
    }
    input + .bug {
        background-color: theme('colors.bug');
        color: theme('colors.white');
    }
    input:checked + .bug {
        background-color: theme('colors.bug-transparent-25');
        color: theme('colors.black');
    }
    .ghost {
        background-color: theme('colors.ghost');
    }
    .text-ghost {
        color: theme('colors.ghost');
    }
    input + .ghost {
        background-color: theme('colors.ghost');
        color: theme('colors.white');
    }
    input:checked + .ghost {
        background-color: theme('colors.ghost-transparent-25');
        color: theme('colors.black');
    }
    .steel {
        background-color: theme('colors.steel');
    }
    .text-steel {
        color: theme('colors.steel');
    }
    input + .steel {
        background-color: theme('colors.steel');
        color: theme('colors.white');
    }
    input:checked + .steel {
        background-color: theme('colors.steel-transparent-25');
        color: theme('colors.black');
    }
    .fire {
        background-color: theme('colors.fire');
    }
    .text-fire {
        color: theme('colors.fire');
    }
    input + .fire {
        background-color: theme('colors.fire');
        color: theme('colors.white');
    }
    input:checked + .fire {
        background-color: theme('colors.fire-transparent-25');
        color: theme('colors.black');
    }
    .water {
        background-color: theme('colors.water');
    }
    .text-water {
        color: theme('colors.water');
    }
    input + .water {
        background-color: theme('colors.water');
        color: theme('colors.white');
    }
    input:checked + .water {
        background-color: theme('colors.water-transparent-25');
        color: theme('colors.black');
    }
    .grass {
        background-color: theme('colors.grass');
    }
    .text-grass {
        color: theme('colors.grass');
    }
    input + .grass {
        background-color: theme('colors.grass');
        color: theme('colors.white');
    }
    input:checked + .grass {
        background-color: theme('colors.grass-transparent-25');
        color: theme('colors.black');
    }
    .electric {
        background-color: theme('colors.electric');
    }
    .text-electric {
        color: theme('colors.electric');
    }
    input + .electric {
        background-color: theme('colors.electric');
        color: theme('colors.white');
    }
    input:checked + .electric {
        background-color: theme('colors.electric-transparent-25');
        color: theme('colors.black');
    }
    .psychic {
        background-color: theme('colors.psychic');
    }
    .text-psychic {
        color: theme('colors.psychic');
    }
    input + .psychic {
        background-color: theme('colors.psychic');
        color: theme('colors.white');
    }
    input:checked + .psychic {
        background-color: theme('colors.psychic-transparent-25');
        color: theme('colors.black');
    }
    .ice {
        background-color: theme('colors.ice');
    }
    .text-ice {
        color: theme('colors.ice');
    }
    input + .ice {
        background-color: theme('colors.ice');
        color: theme('colors.white');
    }
    input:checked + .ice {
        background-color: theme('colors.ice-transparent-25');
        color: theme('colors.black');
    }
    .dragon {
        background-color: theme('colors.dragon');
    }
    .text-dragon {
        color: theme('colors.dragon');
    }
    input + .dragon {
        background-color: theme('colors.dragon');
        color: theme('colors.white');
    }
    input:checked + .dragon {
        background-color: theme('colors.dragon-transparent-25');
        color: theme('colors.black');
    }
    .dark {
        background-color: theme('colors.dark');
    }
    .text-dark {
        color: theme('colors.dark');
    }
    input + .dark {
        background-color: theme('colors.dark');
        color: theme('colors.white');
    }
    input:checked + .dark {
        background-color: theme('colors.dark-transparent-25');
        color: theme('colors.black');
    }
    .fairy {
        background-color: theme('colors.fairy');
    }
    .text-fairy {
        color: theme('colors.fairy');
    }
    input + .fairy {
        background-color: theme('colors.fairy');
        color: theme('colors.white');
    }
    input:checked + .fairy {
        background-color: theme('colors.fairy-transparent-25');
        color: theme('colors.black');
    }
    .unknown {
        background-color: theme('colors.unknown');
    }
    .text-unknown {
        color: theme('colors.unknown');
    }
    input + .unknown {
        background-color: theme('colors.unknown');
        color: theme('colors.white');
    }
    input:checked + .unknown {
        background-color: theme('colors.unknown-transparent-25');
        color: theme('colors.black');
    }
    .shadow {
        background-color: theme('colors.shadow');
    }
    .text-shadow {
        color: theme('colors.shadow');
    }
    input + .shadow {
        background-color: theme('colors.shadow');
        color: theme('colors.white');
    }
    input:checked + .shadow {
        background-color: theme('colors.shadow-transparent-25');
        color: theme('colors.black');
    }
    .text-shadow-black {
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin 10s linear infinite;
}
